<div class="r-content">
	<div class="page-header">
		<h1>Jordi Sim</h1>
	</div>
	<p>Aerospace Engineering and Computer Science student at the University of Southern California.</p>
	<hr class="style-one">
	<p>Hi, my passion lies in aerospace engineering, and my dream is to push the boundaries of human capability in flight and space travel.  I also enjoy coding, especially when it's applied in robotics.</p>
	<hr class="style-one">
	<div class="button-center">
		<div class="btn-group" role="group" aria-label="...">
		  <button type="button" class="btn btn-default" ng-click="showGraphics=true;">Aerospace</button>
		  <button type="button" class="btn btn-default" ng-click="showGraphics=false;">Computer Science</button>
	  </div>
	</div>
	<div ng-show="showGraphics">
		<h2>Aerospace Engineering</h2>
		<p>A lot of the work I've done in this area has been with design teams, namely USC Aerodesign team and USC Hyperloop</p>
		<p>I've done a summer internship with Boeing and another one with a biomedical start-up, both times as a mechanical engineer.</p>
		<p>I also do research on flapping wing designs within the USC engineering school.</p>
		<p>Tools: NX (Unigraphics), Autodesk Fusion 360, Solidworks, MODO</p>
	</div>
	<div ng-show="!showGraphics">
		<h2>Computer Science</h2> m
		<p>Languages: Java, C/C++, Python</p>
		<p>Development tools: Eclipse, MySQL, Git</p>
	</div>

	<div class="decorative-gif" ng-show="showGraphics">
		<img src="./plane-animation.gif">
	</div>

	<div class="decorative-gif" ng-show="!showGraphics">
		<img src="./coder-animation.gif">
	</div>

</div>
